<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
</div>
<div class="form-group">
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
</div>
<div class="form-check p-0 col-md-4">
    {{ form_label(form.priceHT) }}
    {{ form_widget(form.priceHT) }}
</div>

